<% if flash.any? %>
  <% user_facing_flashes.each do |key, value| -%>
    <div class="<%= key.to_s == 'notice' ? 'success' : 'alert' %> callout" data-closable>
      <p><%= value %></p>
      <button class="close-button" 
              aria-label="Dismiss alert" 
              type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end -%>
<% end %>
